body,
html {
  height: 100%;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns the .home block to the top of the container */
    justify-content: flex-start; /* Horizontally centers the .home block */
    height: 100vh; /* Full height to ensure the container takes up the entire viewport height */
    width: 100%; 
    text-align: center;
  }

  .home {
    background-color: #fff5f5;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 60%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    
    &__title {
      font-size: 2.5em;
      color: #395fc9;
    }
  
    &__statement {
      font-size: 1.2em;
      color: #666;
      margin-top: 20px;
    }
    
  }


  .create__problem {
    background-color: rgb(219, 219, 219); /* Background color */
    color: rgb(179, 171, 171); /* Text color */
    margin-top: 50px;
    height: 10%;
    width: 20%;
    border-radius: 30px; /* Optional: Add rounded corners */
    padding: 20px; /* Optional: Add padding */
    cursor: pointer; /* Optional: Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Optional: Add transition for color changes */
    display: flex; /* Make the button a flex container */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  
    &:hover {
      background-color: rgb(200, 200, 200); /* Optional: Background color on hover */
      color: rgb(0, 0, 0); /* Optional: Text color on hover */
    }
  
    .plus__sign {
      font-size: 5em; /* Set the font size for the plus sign */
      margin-rigt: 10px; /* Space between plus sign and text */
    }
  }
  
  